/*
========================================
                Global
========================================
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/*
========================================
                HTML Tags
========================================
*/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2e86c1;
}

a:hover {
    text-decoration: underline;
}

input {
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

    font-family: 'Roboto';
}

table {
    width: 100%;
}

/*
========================================
                Header
========================================
*/

nav {
    width: 100%;
    color: #fff;
    background-color: #17202a;
    border-bottom: 0.5em solid #2e86c1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h1 {
    margin-left: 1em;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

nav .logo h1 a {
    color: #fff;
}

nav .logo h1 a:hover {
    color: #2e86c1;
    text-decoration: none;
}

nav .nav-icon {
    display: none;
}

nav ul {
    overflow: hidden;
    font-size: 1.25em;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 32px;
}

nav ul li a:hover {
    background-color: #2e86c1;
    text-decoration: none;
}

nav ul li a.active {
    background-color: #2e86c1;
    color: #fff;
}

.banner {
    background-image: url('../img/showroom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5em;

    display: flex;
    flex-direction: column;
}

.banner-text {
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
}

.banner-text h1, h2 {
    padding: 0.25em;
    margin: 0.25em;
}

.banner-text h1 {
    color: #fff;
    background-color: rgba(40, 116, 166, 0.75); /* RGBA version of #2e86c1 with opacity */
    font-size: 3em;
}

.banner-text h2 {
    color: #2e86c1;
    background-color: rgba(255, 255, 255, 0.75);
}

/*
========================================
                Main
========================================
*/

section {
    background-color: #F8F8F8;
    padding: 5% 5% 5% 5%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section .text, .image {
    margin: 1em 2.5em 1em 2.5em;
}

section .text {
    text-align: justify;
    color: #333;
}

section .text .text-head-center, section .text .text-body-center {
    text-align: center;
}

section .text h1 {
    text-transform: uppercase;
    font-weight: bold;
}

section .text p {
    padding-top: 1em;
    padding-bottom: 1em;
}

section .image {
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.small {
    color: #fff;
    background-color: #2e86c1;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

section.small .fa {
    margin-right: 0.25em;
}

section.parallax .image i {
    color: #fff; font-size: 20em;
}

section.parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/workshop.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.parallax .text {
    color: #fff;
}

section.services td, section.services th {
    border: 1px solid #ddd;
    padding: 8px;
}

section.services tr:nth-child(even) {
    background-color: #f2f2f2;
}

section.services tr:hover {
    background-color: #ddd;
}

section.services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e86c1;
    color: #fff;
}

section.cards {
    display: flex;
    flex-direction: row;
}

section.cards .card {
    border: 1px solid #aaa;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

section.cards .card-text {
    padding: 1em;
}

section.cards .card-text h1, .card p {
    color: #333;
    text-align: center;
    padding: 0.5em;
    flex: 1;
}

section.cards .card-text h1 {
    text-transform: uppercase;
    font-size: 1.25em;
}

section.cards .card-text p {
    font-size: 0.9em;
}

section.cards .card img {
    width: 100%;
    height: 10em;
}

section.cards .card .button {
    margin: 1em;
}

section.cars {
    display: flex;
    flex-direction: column;
}

section.cars .filter-results {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 0.9em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.cars .filter-results p {
    display: none;
}

section.cars .filter-results-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.cars .car {
    background-color: #fff;
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    color: #282828;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section.cars .car .image, .car .details, .car .buttons, .car .more-details {
    display: flex;
    flex-direction: column;
    flex: 3;
}

section.cars .car .details {
    justify-content: space-around;
}

section.cars .car .buttons {
    justify-content: center;
}

section.cars .car .image {
    margin-left: 0;
    flex: 2;
}

section.cars .car .image img {
    width: 100%;
    border: 1px solid #a1a1a1;
}

section.cars .car .more-details {
    page-break-before: always;
}

section.cars .cars-navigation {
    text-align: center;
}

section.cars .single-car {
    padding: 1em;
    width: 100%;
    color: #333;

    display: flex;
    flex-direction: column;
}

section.cars .single-car-top-row {
    display: flex;
    flex-direction: row;
}

section.cars .single-car-top-row .details {
    padding: 1em;
    width: 100%;
}

section.cars .single-car-top-row .gallery {
}

section.cars .single-car-top-row .details h3 {
    font-size: 2em;
    text-align: center;
}

section.cars .single-car-top-row .gallery img {
    width: 100%;
    flex: 1;
    border: 1px solid #a1a1a1;
}

section.cars .single-car-bottom-row {
    display: flex;
    flex-direction: column;
}

section.cars .single-car-bottom-row .more-details {
    padding: 1em 0 1em 0;
}

section.cars .single-car-bottom-row .buttons {
    display: flex;
    justify-content: center;
}

section.cars .single-car-bottom-row a {
    margin-right: 1em;
}

section.cars td {
    padding: 0.2em;
}

section.cars tr:nth-child(even) {
    background-color: #f3f3f3;
}

section.cars tr:nth-child(odd) {
    background-color: #f1f1f1;
}

section.cars tr:last-child {
    background-color: #2e86c1;
    color: #fff;
    font-size: 1.25em;
}

section.cars tr:hover {
    background-color: #ddd;
}

section.cars tr:last-child:hover {
    background-color: #2874a6;
}

section.error {
    flex-direction: column;
}

.button {
    background-color: #2e86c1;
    color: #fff;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;

    border: none;
    border-bottom: 4px solid #1f618d;
    border-radius: 3px;
    margin-bottom: 1px;
}

.button:hover {
    text-decoration: none;
    background-color: #2874a6;
    border-bottom: 3px solid #1f618d;

    margin-top: 1.5px;
    margin-bottom: 0.5px;
}

.reviews {
    display: flex;
    flex-direction: column;
}

.review-rating-average {
    padding-bottom: 1em;
}

.review-rating-average span {
    font-size: 2em;
}

.review-rating-average p {
    font-size: 1.5em;
    font-weight: bold;
}

.reviews-description {
    width: 60%;
    text-align: center;
    padding-bottom: 0.5em;
}

.reviews-description p {
    padding-bottom: 0.5em;
}

.reviews-description a {
    font-size: 1.2em;
    font-weight: bold;
}

.review {
    display: flex;
    flex-direction: column;

    background-color: #f3f3f3;
    padding: 2em;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 1em;
}

.review p {
    padding-bottom: 0.5em;
}

.review-name {
    font-weight: bold;
    font-size: 1.2em;
}

.review-date {
    font-size: 0.8em;
    color: #666;
}

.review-content {
    font-size: 0.9em;
}

.checked {
    color: orange;
}

/*
========================================
                Footer
========================================
*/

footer {
    color: #F8F8F8;
    background-color: #17202a;
    width: 100%;

    display: flex;
    flex-direction: column;
}

footer h3 {
    text-transform: uppercase;
    padding: 0.5em;
}

footer p {
    padding: 0.5em;
}

.footer-top {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.footer-bottom {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.footer-left, .footer-right {
    padding: 1em;
}

.footer-left {
    width: 60%;
}

.footer-right {
    width: 40%;
}

#socialmedia {
    font-size: 2em;
    text-align: right;
    padding: 0;
    padding-left: 0.25em;
    color: #fff;
}

#socialmedia a {
    color: #fff;
}

#socialmedia a:hover {
    color: #2e86c1;
}

/*
========================================
            Media Queries
========================================
*/

@media screen and (min-width: 1300px) {
    /* For large desktop monitors */
    section {
        padding: 5% 15% 5% 15%;
    }
}

@media screen and (max-width: 1024px) {
    /* For screens smaller than normal desktop size.
       ie: iPads and other tablets. Includes phone screens when used horizontally.
     */
    nav {
        border-bottom: 0.25em solid #2e86c1;
        display: flex;
        flex-direction: column;
    }

    nav .logo h1 {
        font-size: 2em;
        margin-left: 0;
        display: inline;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li a {
        padding: 0.25em;
    }

    nav ul li a i {
        margin-right: 0.25em;
    }

    nav ul br {
        display: none;
    }

    .banner {
        padding: 0;
    }

    .banner-text h1 {
        font-size: 2.5em;
    }

    section {
        flex-wrap: wrap-reverse;
    }

    section .text h1 {
        text-align: center;
    }

    section.parallax {
        flex-wrap: wrap;
    }

    section.parallax .image i {
        font-size: 5em;
    }

    section .button-stretch {
        width: 100%;
    }

    section.cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    section.cards .card {
        flex: none;
        width: 40%;
    }

    section.cars .single-car {
        border: none;
    }

    section.cars .single-car-top-row {
        flex-direction: column;
    }

}

@media screen and (max-width: 750px) {
    section.cards .car .buttons {
        page-break-before: always;
    }

    section.cards .car .buttons a {
        margin: 0.5em 0 0.5em 0;
    }
}

@media screen and (max-width: 512px) {
    /* For mobile phones when viewing vertically. */
    nav {
        flex-direction: row;
    }

    nav .logo h1 {
        font-size: 1.75em;
        margin-left: 0.25em;
    }

    nav .nav-icon {
        display: inline;
        font-size: 1.75em;
        margin-right: 0.25em;
    }

    nav .nav-icon a {
        color: #fff;
    }

    nav .nav-icon a:hover {
        color: #2e86c1;
    }

    nav ul {
        display: none;
    }

    /* Responsive drop-down navigation */

    nav.responsive {
        flex-wrap: wrap;
    }

    nav.responsive ul {
        flex: 0 100%;
        display: block;
        background-color: #17202a;
    }

    nav.responsive ul li a {
        width: 100%;
        text-align: left;
    }

    nav.responsive ul li a i {
        margin-right: 0.25em;
    }

    .banner-text h1 {
        font-size: 1.5em;
    }

    .banner-text h2 {
        font-size: 1.15em;
    }

    section {
        padding: 0;
    }

    section .text h1 {
        font-size: 1.2em;
    }

    section .text p {
        font-size: 0.9em;
    }

    section .image img {
        width: 150%;
    }

    section.cards {
        flex-direction: column;
        align-content: space-around;
        align-items: space-around;
    }

    section.cards .card {
        width: 80%;
        flex: 1;
    }

    section.cars .car {
        width: 100%;
        border: none;

        flex-direction: column;
        align-items: center;
    }

    section.cars .car:nth-child(odd) {
        background-color: #F8F8F8;
    }

    section.cars .car .details {
        width: 100%;
    }

    section.cars .car .details h3 {
        text-align: center;
    }

    section.cars .car .details td {
        width: 100%;
    }

    section.cars .car .buttons {
        page-break-before: avoid;
        width: 100%;
    }

    section.cars .car .image {
        padding: 0; margin: 0;
        width: 100%;
    }

    section.cars .filter-results {
        border: none;

        flex-direction: column;
    }

    section.cars .filter-results p {
        display: inline;
        text-align: center;
        font-size: 1.2em;
    }

    section.cars .single-car-top-row h3 {
        text-align: center;
    }

    footer {
        font-size: 0.9em;

        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column-reverse;
    }

    .footer-left, .footer-right {
        width: 100%;
    }

    #socialmedia {
        text-align: left;
    }

    .reviews-description, .review {
        width: 90%;
    }
}
