<!DOCTYPE html>
<html>
    <head>
        <title>Whitehill Motors: Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

        <!-- External Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    </head>
    <body>
        <header>
            <nav id="nav">
                <div class="logo">
                    <h1>Whitehill Motors</h1>
                </div>

                <div class="nav-icon">
                    <a href="javascript:void(0);" onclick="collapseNav()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </div>

                <ul>
                    <li>
                        <a class="active" href="#"><i class="fa fa-home" aria-hidden="true"></i><br />Home</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i><br />About</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-car" aria-hidden="true"></i><br />Cars</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i><br />Services</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-address-book" aria-hidden="true"></i><br />Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="banner">
                <div class="banner-text">
                    <h1>Welcome to Whitehill Motors</h1>
                    <h2>Car Dealership and Auto Repairs in Forfar</h2>
                </div>
            </div>
        </header>

        <main>
            <section class="small"><h3><i class="fa fa-phone" aria-hidden="true"></i>Call us now on 01307 461234</h3></section>

            <section>
                <div class="text">
                    <h1>What is Lorem Ipsum?</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <a href="#" class="button button-stretch">Learn More</a>
                </div>

                <div class="image">
                    <img src="img/vw_golf_r.jpg" />
                </div>
            </section>

            <section class="parallax">
                <div class="image">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </div>

                <div class="text">
                    <h1>Why is Lorem Ipsum?</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <a href="#" class="button button-stretch">Get Started</a>
            </section>

            <section class="cards">
                    <div class="card">
                        <img src="img/vw_golf_r.jpg" />
                        <div class="card-text">
                            <h1>Phasellus Vitae</h1>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                        </div>
                        <a href="#" class="button">Lorem</a>
                    </div>
                    <div class="card">
                        <img src="img/vw_golf_r.jpg" />
                        <div class="card-text">
                            <h1>Phasellus Vitae</h1>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                        </div>
                        <a href="#" class="button">Lorem</a>
                    </div>
                    <div class="card">
                        <img src="img/vw_golf_r.jpg" />
                        <div class="card-text">
                            <h1>Phasellus Vitae</h1>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                        </div>
                        <a href="#" class="button">Lorem</a>
                    </div>
                    <div class="card">
                        <img src="img/vw_golf_r.jpg" />
                        <div class="card-text">
                            <h1>Phasellus Vitae</h1>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                        </div>
                        <a href="#" class="button">Lorem</a>
                    </div>
            </section>

            <section id="map" style="height: 400px;"></section>

            <section class="small">20 Market Place, Forfar, DD8 3BX</section>
        </main>

        <footer>
            <div class="footer-top">
                <div class="footer-left">
                    <h3>Car Dealership and Auto Repairs in Forfar</h3>
                    <p>Come visit us at <a href="https://www.google.com/maps?q=20,MarketPlace,Forfar,DD83BX" target="_blank">20 Market Place, Forfar, DD8 3BX</a></p>
                    <p>Talk to us on <a href="tel:01307461234">01307 461234</a></p>
                    <p>Email us at <a href="mailto:contact@whitehillmotors.co.uk">contact@whitehillmotors.co.uk</a></p>
                </div>
                <div class="footer-right">
                    <h3>Opening Times</h3>
                    <p><strong>Monday - Friday:</strong> 8am - 6pm</p>
                    <p><strong>Saturday:</strong> 8am - 1pm</p>
                    <p><strong>Sunday:</strong> Closed</p>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-left">
                    <p>Copyright &copy; 2017 Whitehill Motors</p>
                </div>
                <div class="footer-right">
                    <p id="socialmedia">
                        <a href="https://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="https://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </p>
                </div>
            </div>
        </footer>

        <!-- JavaScript file includes -->
        <script src="js/nav.js"></script>
        <script src="js/map.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdijQAwZuw1pSIaQGKuzC1igfWiu9DZ-4&callback=map"></script>
    </body>
</html>
