<!DOCTYPE html>
<html>
    <head>
        <title>Whitehill Motors: Add Vehicle</title>

        <link rel="stylesheet" type="text/css" href="../css/management.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Whitehill Motors: Add Vehicle</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Add Vehicle</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Change Password</a></li>
            </ul>
        </div>

        <div class="container">
            <form>
                Registration: <input type="text" name="registration" required />

                Manufacturer:
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>

                Model:
                <select>
                    <option value="volvo">£100</option>
                    <option value="saab">£200</option>
                    <option value="opel">£300</option>
                    <option value="audi">£400</option>
                </select>

                Year: <input type="text" name="year" required />
                Engine: <input type="text" name="engine" required />

                Fuel: <input type="text" name="fuel" required />
                Transmission: <input type="text" name="transmission" required />

                Mileage: <input type="text" name="mileage" required />
                Price: <input type="text" name="price" required />
                
                <input type="submit" value="Add" />
            </form>
        </div>
    </body>
</html>
